@media(max-width: 380px){
    .container {
        width: 100%;
    }

    .navbar {
        box-sizing: border-box;
        padding: 15px 10px 15px 10px;
    }

    .content_title h1 {
        font-size: 21px;
    }

    .content_title {
        width: 95%;
    }

    .content_subtitle {
        width: 95%;
        font-size: 13px;
    }

    .content_form-email {
        width: 90%;
    }
    
    form .form-email {
        width: 70%;
    }

    form .form-submit {
        width: 30%;
    }

    .content_comments {
        width: 74%;
    }
}

@media(min-width: 425px) and (max-width: 525px){

    .content_title {
        width: 95%;
    }

    .content_subtitle {
        font-size: 14px;
        width: 95%;
    }

    .content_form-email {
        width: 80%;
    }

    form .form-email {
        width: 70%;
    }

    form .form-submit {
        width: 30%;
    }

    .content_comments {
        width: 70%;
    }

}

@media(min-width: 1200px){
    .content_subtitle {
        width: 73%;
    }
}

@media(min-width: 1400px){

    .content_subtitle {
        width: 63%;
    }

    .content_form-email {
        width: 52%;
    }

    .content_comments {
        width: 43%;
    }
}

@media(min-width: 1700px){
    .content_subtitle {
        width: 53%;
    }

    .content_form-email {
        width: 46%;
    }

    .content_comments {
        width: 37%;
    }
}
